@model List<PublicBookStore.UI.Web.Models.BookModel>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <div  class="col-md-3">
        <p class="lead">Genres</p>
        <div id="genresDiv" class="list-group" data-bind="template:{foreach:genres}">

            <a href="#" class="list-group-item" data-bind="text: Name" ></a>

        </div>
    </div>

    <div class="col-md-9">

        <div id="booksDiv" class="row" data-bind="template:{foreach:books}">



            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img data-bind="attr:{src:'http://www.publicbookstore.com/' + ImageUrl}" alt="">
                    <div class="caption">
                        <h4 class="pull-right" data-bind="text: '$'+ Price"></h4>
                        <h4>
                            <a href="#" data-bind="text: Title"></a>
                        </h4>
                        <p data-bind="text: Description"></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">12 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            

        </div>

    </div>

</div>
@section Scripts {

    <script type="text/javascript">

        var apiUrl = "http://www.publicbookstore.com";
        $(document).ready(function () {

           

            //Bind
            ko.applyBindings(new bookModel(), document.getElementById("booksDiv"));
            ko.applyBindings(new genreModel(), document.getElementById("genresDiv"));

          
         
        });

        //Books
        function bookModel() {
            var self = this;
            self.books = ko.observableArray([]);

            $.getJSON(apiUrl + "/api/book")
                .done(function (response) {
                    self.books(response);
                });
        }

        //Genres
        function genreModel() {
            var self = this;
            self.genres = ko.observableArray([]);

            $.getJSON(apiUrl + "/api/genre")
                .done(function (response) {
                    self.genres(response);
                });
        }

    </script>

}