@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <div class="col-md-3">
        <p class="lead">Shop Name</p>
        <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$24.99</h4>
                        <h4>
                            <a href="#">First Product</a>
                        </h4>
                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">12 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$64.99</h4>
                        <h4>
                            <a href="#">Second Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">12 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$74.99</h4>
                        <h4>
                            <a href="#">Third Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">31 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$84.99</h4>
                        <h4>
                            <a href="#">Fourth Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">6 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4 class="pull-right">$94.99</h4>
                        <h4>
                            <a href="#">Fifth Product</a>
                        </h4>
                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">18 reviews</p>
                        <p>
                            <a href="javascript:;" class="btn btn-success btn-sm add-cart">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4 book">
                <h4>
                    <a href="#">Like this template?</a>
                </h4>
                <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
            </div>

        </div>

    </div>

</div>
@section Scripts {

    <script type="text/javascript">

        var apiUrl = "http://localhost:55565/api/genre";
        $(document).ready(function () {
            GetCategories();
        });

        function GetCategories() {

            var settings = {
                "async": true,
                "contentType": "application/json",
                "dataType": "json",
                "crossDomain": true,
                "url": "http://localhost:55565/api/genre",
                "method": "GET",
                "headers": {
                    "cache-control": "no-cache",
                    "Accept": "application/json",
                    "Origin": "http://localhost:55565",
                    "Referer": "http://localhost:55565",
                    "Access-Control-Allow-Origin": "http://localhost:55565",
                    "Access-Control-Allow-Credentials": true
                }
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
            });

        }
    </script>

}